.feedback-form {
   display: flex;
   flex-direction: column;
   gap: 8px;
}


label {
font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start
        
}

input {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    font-weight: 400;
       font-size: 16px;
        
      /* line-height: 24px; */
      line-height: 1.5;
       letter-spacing: 0.04em;
      color: #2e2f42;
      outline: none;
      transition: 0.3s ease;
}

input:hover:not(:focus) {
    border: 1px solid #000;
}

.login-form input:focus {
    border: 1px solid #808080;
}

textarea {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    font-weight: 400;
    font-size: 16px;
        
     /* line-height: 24px; */
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #2e2f42;
     outline: none;
    transition: 0.3s ease;
}

textarea:hover:not(:focus) {
    border: 1px solid #000;
}

textarea input:focus {
    border: 1px solid #808080;
}



.feedback-form button {
    border-radius: 8px;
        padding-block: 8px;
        padding-inline: 16px;
        width: 95px;
        height: 40px;
        background: #4e75ff;
        font-weight: 500;
            font-size: 16px;
        
            /* line-height: 24px; */
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            border: none;
            margin-top: 8px;
            transition: 0.3s ease;
        }

.feedback-form button:hover {
            background: #6c8cff;
        }
